

*{
    box-sizing: border-box;
    outline:3px solid black;
    margin: 0;
}




body{
    
}

.container{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 80px 0;
    
}

/* cabecera */

.cabecera{
    padding: 0;
    height: 100vh;
    background-color: antiquewhite;
}

.cabecera__box{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.cabecera__img{
    width: 45%;
    text-align: center;
    margin: 0;
}

.cabecera__picture{
    max-width: 80%;
}

.cabecera__texts{
    width: 45%;
    
}

.cabecera__title{
    font-size: 4rem;
}

.cabecera__title2{
    font-size: 1.5rem;
    
}

/* intro */

.title{
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 40px;
    color: black;
    text-align: center;
}

.intro{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.intro__img{
    background-color: aliceblue;
    width: 45%;
    text-align: center;
    margin: 0;
    display: inline-flex;
    justify-content: space-evenly;
}

.intro__picture{
    background-color:red;
    max-width: 27%;
}

.intro__texts{
    width: 50%;
    text-align:left;
}

.intro__p{
    line-height: 1.5;
}


/* htmlcss */

.htmlcss{
    background: green;
}

.htmlcss__cards{
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.htmlcss__card{
    width: 27%;
    background: #fff;
    height: auto;
    box-shadow: 0 0 12px rgba(0,0,0, .2);
    border-radius: 10px;
}

.htmlcss__picture{
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
    height: 200px;
    object-fit: cover;
}

.htmlcss__texts{
    padding: 30px 20px 40px;
}

.htmlcss__title{
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.htmlcss__p{
    margin: 30px 0;
}


/* js */
.js{
    background-color: aqua;
}

.js__container{
    background-color: bisque;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.js__picture{
    width: 30%;
    height: 250px;
    margin-bottom: 20px;
    display: block;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 0 12px rgba(0,0,0, .2);
}



@media screen and (max-width: 800px){
    .cabecera{
        height: auto;
        min-height: 100vh;
        padding: 40px 0;
    }

    .cabecera__box{
        justify-content: center;
    }

    .cabecera__img{
        width: 60%;
        margin-bottom: 30px;
    }

    .cabecera__picture{
        max-width: 85%;
    }

    .cabecera__texts{
        width: 100%;
    }

    .cabecera__title{
        font-size: 3.5rem;
    }

    /* intro media */

    .intro__texts{
        width: 90%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 80px;
        text-align: center ;
    }

    .intro__p{
        text-align: left;
    }

    .intro__img{
        width: 100%;
    }

    /* htmlcss media */

    .htmlcss__card{
        width: 45%;
        margin-bottom: 30px;
    }

    /* js media */
    .js__picture{
        width: 45%;
    }

    
}

@media screen and (max-width:550px){
    .cabecera__img{
        width: 85%;
    }

    .cabecera__picture{
        max-width: 100%;
    }

    .cabecera__title{
        font-size: 2.8rem;
    }

    .title{
        font-size: 2.2rem;
    }

    .intro__texts{
        width: 100%;
    }

    .htmlcss__card{
        width: 90%;
        max-width: 300px;
    }

    .js__picture{
        width: 90%;
        max-width: 300px;
    }
}

/* PRUEBAS------------------------------------------------------------ */
/* .flip-horizontal-bottom
{animation:flip-horizontal-bottom 1s cubic-bezier(.455,.03,.515,.955) infinite both}


@keyframes flip-horizontal-bottom{0%{transform:rotateX(0)}100%{transform:rotateX(-180deg)}}

.cubo{
    width: 100%;
    
    background-color: #f77062;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slide-top{
    animation:slide-top 3s cubic-bezier(.445,.05,.55,.95) infinite alternate both}

@keyframes slide-top{0%{transform:translateY(0)}100%{transform:translateY(-100px)}} */